html {
  margin: 0;
}

body {
  width: 100vw;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%;
  background-color: #f7f7f9;
}

button:hover {
  background-color: #396df2;
  color: white;
}

.mobile-main {
  width: 100%;
  margin: 0;
}

.mobile-header {
  width: 100%;
  height: 718px;
  background: #fff;
  border-radius: 0 0 0 90px;
}

.app-bar {
  padding-top: 50px;
  padding-bottom: 12px;
  margin-left: 24px;
  margin-right: 36px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.logo a {
  text-decoration: none;
}

.menu {
  margin-top: 10px;
}

.header-main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 587.15;
  background-image: url('/header-shapes_mobile.png');
  background-size: 100vw 587.15px;
  background-repeat: no-repeat;
}

.introduction-primary-text {
  width: 70.78%;
  height: 150px;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  padding-top: 114px;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0;
}

.introduction-supporting-text {
  width: 70.78%;
  height: 146px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  margin: 0;
}

.main-content-contacts-text {
  width: 43.29%;
  height: 24px;
  margin-top: 50px;
  margin-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #7f8cff;
}

.main-content-contacts {
  width: 36.83%;
  height: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 60px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin: 0;
}

.main-content-contacts img {
  height: 20px;
}

/* minimum desktop width */
@media (width >= 768px) {
  .header-main-content {
    background-image: url('/Header\ bg.png');
    background-repeat: no-repeat;
    background-size: 100vw 587.15px;
  }
}
